<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xM
      jUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC
      4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4
      zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" width="40" height="40" class="d-inline-block align-top" alt="">
      {{ title }}
    </a>
    <div>
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/add" routerLinkActive="active">Add User</button>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

