<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Age</th>
    <th scope="col">Email</th>
    <th scope="col">#</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users, let i =index">
    <th scope="row">{{ user?.firstName }}</th>
    <td>{{ user?.lastName }}</td>
    <td>{{ user?.age }}</td>
    <td>{{ user?.email }}</td>
    <td>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-success">
          <input type="radio" name="options" id="option2" autocomplete="off" (click)="editUser(user)"> Edit
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="options" id="option3" autocomplete="off" (click)="deleteUser(user?.id, i)"> Delete
        </label>
      </div>
    </td>
  </tr>
  </tbody>
</table>

